{% extends 'client/client_base.html.twig' %}

{% block title %}Temptation{% endblock %}

{% block body %}
{#<div class="wrapper">#}
{#    <header class="header">#}
{#        <div class="content">#}
{#            <a href="{{ path('client_catalog_index') }}" class="logo"></a>#}
{#            <table class="header_contacts">#}
{#                <tr>#}
{#                    <td class="key">#}
{#                        Тел.:#}
{#                    </td>#}
{#                    <td class="val">#}
{#                        (017) 286-30-71, 286-31-72#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="key">#}
{#                        Факс:#}
{#                    </td>#}
{#                    <td class="val">#}
{#                        (017) 286-31-72#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="key">#}
{#                        E-mail:#}
{#                    </td>#}
{#                    <td class="val">#}
{#                        info@temptation.by#}
{#                    </td>#}
{#                </tr>#}
{#            </table>#}
{#            <div class="cart_widget">#}
{#                <a href="#" class="cart_link"></a>#}
{#                <div class="cart_info">#}
{#                    <div class="label">#}
{#                        В корзине:#}
{#                    </div>#}
{#                    <div class="value">#}
{#                        2 товара#}
{#                        <br>#}
{#                        1 400 000 р.#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="clearfloat"></div>#}
{#        </div>#}
{#    </header>#}
{#    <nav class="main_nav content">#}
{#        <a href="{{ path('client_catalog_index') }}" class="catalog_link">#}
{#            КАТАЛОГ#}
{#        </a>#}
{#        <a href="#">#}
{#            НОВОСТИ#}
{#        </a>#}
{#        <a href="#">#}
{#            НАШИ МАГАЗИНЫ#}
{#        </a>#}
{#        <a href="#">#}
{#            СОТРУДНИЧЕСТВО#}
{#        </a>#}
{#        <a href="#">#}
{#            О КОМПАНИИ#}
{#        </a>#}
{#    </nav>#}
{#    <div class="page_with_side content">#}
        <div class="side">
            <form action="ajax/filter.php" class="filter_form"></form>
            <div class="sex_changer">
                {% if GENDER_FEMALE == activeCategory.gender %}
                    <span class="link active">
                        ДЛЯ НЕЕ
                    </span>
                {% else %}
                    <a href="{{ path('client_catalog_index', {'gender': GENDER_FEMALE}) }}" class="link">
                        ДЛЯ НЕЕ
                    </a>
                {% endif %}

                {% if GENDER_MALE == activeCategory.gender %}
                    <span class="link active">
                        ДЛЯ НЕГО
                    </span>
                {% else %}
                    <a href="{{ path('client_catalog_index', {'gender': GENDER_MALE}) }}" class="link">
                        ДЛЯ НЕГО
                    </a>
                {% endif %}
                <div class="clearfloat"></div>
            </div>
            <nav class="categorys">

                {% for category in categories %}
                    {% if activeCategory.id != category.id %}
                        <a href="{{ path('client_catalog_category', {'categoryId': category.id}) }}" class="category_link">
                            {{ category.name }}
                        </a>
                    {% else %}
                        <span class="category_link active">
                            {{ category.name }}
                        </span>
                    {% endif%}
                    <div class="clearfloat"></div>
                {% endfor %}

            </nav>

            <div class="clearfloat"></div>
        </div>
        <div class="products" id="test">
{#            <div class="item_sort">#}
{#                <div class="label">#}
{#                    Сортировать по:#}
{#                </div>#}
{#                <div class="select_list">#}
{#                    <div class="current">#}
{#                        Дате поступления#}
{#                    </div>#}
{#                    <ul class="list">#}
{#                        <li class="single_filter" data-name="sort" data-id="31">#}
{#                            Цене#}
{#                        </li>#}
{#                        <li class="single_filter" data-name="sort" data-id="32">#}
{#                            Важности#}
{#                        </li>#}
{#                        <li class="single_filter" data-name="sort" data-id="33">#}
{#                            Заслугам#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item_sort">#}
{#                <div class="label">#}
{#                    Размер:#}
{#                </div>#}
{#                <div class="select_list">#}
{#                    <div class="current">#}
{#                        2B#}
{#                    </div>#}
{#                    <ul class="list">#}
{#                        <li>#}
{#                            <span class="check_element multi_filter" data-name="size" data-id="21">#}
{#                                2A#}
{#                            </span>#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="check_element multi_filter" data-name="size" data-id="22">#}
{#                                2B#}
{#                            </span>#}
{#                        </li>#}
{#                        <li>#}
{#                            <span class="check_element multi_filter" data-name="size" data-id="23">#}
{#                                2C#}
{#                            </span>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="clearfloat"></div>#}
{#            <div class="products_list">#}
{#                <div class="sort_result">#}
{#                    Найдено товаров: <span>49</span>#}
{#                </div>#}
                {% for product in products %}
                    <div class="product_widget{% if loop.index % 3 == 0 %} last_in_line{% endif %}">
                        <a href="" class="image">
                            {% if product.getMainImage() %}
                                <img src="{{ productManager.getImageFullUrl(product.getMainImage()) }}" />
                            {% endif %}
                        </a>
                        <a href="#" class="name">
                            {{ product.name }}
                        </a>
                        <div class="clearfloat"></div>
                        <div class="price">
                            {{ product.price }} р.
                        </div>
                        {% if product.fullPrice != 0 %}
                            <div class="old_price">
                                {{ product.fullPrice }} р.
                            </div>
                        {% endif %}
                        <div class="clearfloat"></div>
                    </div>
                {% endfor %}
                <div class="clearfloat"></div>
{#                <ul class="pagination" data-name="pagination">#}
{#                    <li>#}
{#                        <a href="#" class="link" data-value="1">#}
{#                            1#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <span class="link active" data-value="2">#}
{#                            2#}
{#                        </span>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="link" data-value="3">#}
{#                            3#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="link" data-value="4">#}
{#                            4#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="link" data-value="5">#}
{#                            5#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="link" data-value="6">#}
{#                            Все#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="footer_wr">#}
{#    <footer class="footer content">#}
{#        <div class="logo_copyright">#}
{#            <a href="#" class="logo_footer"></a>#}
{#            <div class="clearfloat"></div>#}
{#            <div class="copyright">#}
{#                © 2014 Temptation#}
{#            </div>#}
{#        </div>#}
{#        <div class="footer_block">#}
{#            <div class="label">#}
{#                О НАС#}
{#            </div>#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        О компании#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        Наши магазины#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        Вакансии#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="footer_block">#}
{#            <div class="label">#}
{#                ПОКУПАТЕЛЯМ#}
{#            </div>#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        Новости#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        Как не быть обманутым#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        Нужно знать#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="footer_block">#}
{#            <div class="label">#}
{#                ОПТОВИКАМ#}
{#            </div>#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">#}
{#                        Сотрудничество#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="footer_block last">#}
{#            <div class="label">#}
{#                КОНТАКТЫ#}
{#            </div>#}
{#            <table class="footer_contacts">#}
{#                <tr>#}
{#                    <td class="key">#}
{#                        Тел.:#}
{#                    </td>#}
{#                    <td class="val">#}
{#                        (017) 286-30-71, 286-31-72#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="key">#}
{#                        Факс:#}
{#                    </td>#}
{#                    <td class="val">#}
{#                        (017) 286-31-72#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="key">#}
{#                        E-mail:#}
{#                    </td>#}
{#                    <td class="val">#}
{#                        info@temptation.by#}
{#                    </td>#}
{#                </tr>#}
{#            </table>#}
{#            <a href="#">#}
{#                Обратная свзяь#}
{#            </a>#}
{#        </div>#}
{#    </footer>#}
{#</div>#}
{% endblock %}


