<!DOCTYPE html>
<html lang=ru>
    <head>
        <meta charset=utf-8>
        <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/javascripts/html5.js"></script>
        <![endif]-->
        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/modernizr.js"></script>
        <script type="text/javascript" src="/javascripts/selectivizr.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <title>{% block title %}Temptation{% endblock %}</title>
    </head>
    <body>

        <div class="wrapper">
            <header class="header">
                <div class="content">
                    <a href="{{ path('client_catalog_index') }}" class="logo"></a>
                    <table class="header_contacts">
                        <tr>
                            <td class="key">
                                Тел.:
                            </td>
                            <td class="val">
                                (017) 286-30-71, 286-31-72
                            </td>
                        </tr>
                        <tr>
                            <td class="key">
                                Факс:
                            </td>
                            <td class="val">
                                (017) 286-31-72
                            </td>
                        </tr>
                        <tr>
                            <td class="key">
                                E-mail:
                            </td>
                            <td class="val">
                                info@temptation.by
                            </td>
                        </tr>
                    </table>
    				<div class="cart_widget">
                    <a href="#" class="cart_link"></a>
                    <div class="cart_info">
                        <div class="label">
                            В корзине:
                        </div>
                        <div class="value">
                            2 товара
                            <br>
                            1 400 000 р.
                        </div>
                    </div>
                </div>
                <div class="clearfloat"></div>
                </div>
            </header>
            <nav class="main_nav content">
                <a href="{{ path('client_catalog_index') }}" class="catalog_link">
                    КАТАЛОГ
                </a>
                <a href="#">
					НОВОСТИ
				</a>
				<a href="{{ path('client_shops_index') }}">
					НАШИ МАГАЗИНЫ
				</a>
				<a href="#">
					СОТРУДНИЧЕСТВО
				</a>
				<a href="#">
					О КОМПАНИИ
				</a>
            </nav>

                {% block body %}

{#                    <div class="side">#}
{#                        <form action="ajax/filter.php" class="filter_form"></form>#}
{#                        <div class="sex_changer">#}
{#                            {% if GENDER_FEMALE == activeCategory.gender %}#}
{#                                <span class="link active">#}
{#                            ДЛЯ НЕЕ#}
{#                        </span>#}
{#                            {% else %}#}
{#                                <a href="{{ path('client_catalog_index', {'gender': GENDER_FEMALE}) }}" class="link">#}
{#                                    ДЛЯ НЕЕ#}
{#                                </a>#}
{#                            {% endif %}#}
{#    #}
{#                            {% if GENDER_MALE == activeCategory.gender %}#}
{#                                <span class="link active">#}
{#                            ДЛЯ НЕГО#}
{#                        </span>#}
{#                            {% else %}#}
{#                                <a href="{{ path('client_catalog_index', {'gender': GENDER_MALE}) }}" class="link">#}
{#                                    ДЛЯ НЕГО#}
{#                                </a>#}
{#                            {% endif %}#}
{#                            <div class="clearfloat"></div>#}
{#                        </div>#}
{#                        <nav class="categorys">#}
{#    #}
{#                            {% for category in categories %}#}
{#                                {% if activeCategory.id != category.id %}#}
{#                                    <a href="{{ path('client_catalog_category', {'categoryId': category.id}) }}" class="category_link">#}
{#                                        {{ category.name }}#}
{#                                    </a>#}
{#                                {% else %}#}
{#                                    <span class="category_link active">#}
{#                                {{ category.name }}#}
{#                            </span>#}
{#                                {% endif%}#}
{#                                <div class="clearfloat"></div>#}
{#                            {% endfor %}#}
{#    #}
{#                        </nav>#}
{#    #}
{#                        <div class="clearfloat"></div>#}
{#                    </div>#}

                {% endblock %}
            </div>

            <div class="footer_wr">
                <footer class="footer content">
                    <div class="logo_copyright">
                        <a href="#" class="logo_footer"></a>
                        <div class="clearfloat"></div>
                        <div class="copyright">
                            © 2014 Temptation
                        </div>
                    </div>
                    <div class="footer_block last">
                        <div class="label">
                            КОНТАКТЫ
                        </div>
                        <table class="footer_contacts">
                            <tr>
                                <td class="key">
                                    Тел.:
                                </td>
                                <td class="val">
                                    (017) 286-30-71, 286-31-72
                                </td>
                            </tr>
                            <tr>
                                <td class="key">
                                    Факс:
                                </td>
                                <td class="val">
                                    (017) 286-31-72
                                </td>
                            </tr>
                            <tr>
                                <td class="key">
                                    E-mail:
                                </td>
                                <td class="val">
                                    info@temptation.by
                                </td>
                            </tr>
                        </table>
                    </div>
                </footer>
            </div>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
