{% extends 'admin/admin_base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
    <h1>Категории</h1>

    <table class="table">
        <thead>
        <style>
            table, th, td { border: 2px solid black; border-collapse: collapse;max-width: max-content;max-height: max-content; }
        </style>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Пол</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.gender }}</td>
                <td>
                    <a href="{{ path('admin_category_show', {'id': category.id}) }}">Показать</a>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <h2><td colspan="4">Записей не найдено</td></h2>>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2><a href="{{ path('admin_category_new') }}">Создать</a></h2>
{% endblock %}
