{% extends 'admin/admin_base.html.twig' %}

{% block title %}Продукты{% endblock %}


{% block body %}
    <h2 xmlns="http://www.w3.org/1999/html">Продукты</h2>
    <h2>
        <a href="{{ path('admin_product_new') }}">Создать</a>
    </h2>
    <table class="table">
        <thead>
        <style>
            table, th, td { border: 2px solid black; border-collapse: collapse; max-width: max-content; max-height: max-content; }
        </style>
            <tr>
            	<th>Pic</th>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>FullPrice</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>
                    {% if product.getMainImage() %}
                        <img src="{{ productManager.getImageFullUrl(product.getMainImage()) }}"/>
                    {% endif %}
                </td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <th>{{ product.category }}</th>
                <td>{{ product.price }}</td>
                <td>{{ product.fullPrice }}</td>
                <td>{{ product.content }}</td>
                <td>
                    <a href="{{ path('admin_product_show', {'id': product.id}) }}">Показать</a>
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Записи не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
