{% extends 'admin/admin_base.html.twig' %}

{% block title %}Магазины{% endblock %}

{% block body %}
  
    <table class="table">
        <thead>
            <tr>
            	<th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Tel</th>
                <th>Pic</th>
                <th>Info</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
            	<td>
                    {% if shop.getMainImage() %}
                        <img src="{{ shopManager.getImageFullUrl(shop.getMainImage()) }}"/>
                    {% endif %}
                </td>
                <td>{{ shop.id }}</td>
                <td>{{ shop.name }}</td>
                <td>{{ shop.adress }}</td>
                <td>{{ shop.tel }}</td>
                <td>{{ shop.main_image_hash}}</td>
                <td>{{ shop.info }}</td>
                <td>
{#                    <a href="{{ path('admin_shop_show', {'id': shop.id}) }}">show</a>#}
                    <a href="{{ path('admin_shop_edit', {'id': shop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_shop_new') }}">Create new</a>
{% endblock %}
